services:
  odio:
    image: ghcr.io/b0bbywan/go-odio-api:latest
    container_name: odio
    ports:
      - "8018:8018"
    user: "${UID:-1000}:${UID:-1000}"
    environment:
      XDG_RUNTIME_DIR: ${XDG_RUNTIME_DIR:-/run/user/${UID:-1000}}
      DBUS_SESSION_BUS_ADDRESS: ${DBUS_SESSION_BUS_ADDRESS:-unix:path=/run/user/${UID:-1000}/bus}
      HOME: ${HOME:-/home/odio}
    volumes:
      - ${XDG_RUNTIME_DIR:-/run/user/${UID:-1000}}/bus:${XDG_RUNTIME_DIR:-/run/user/${UID:-1000}}/bus:ro # DBUS_SESSION_BUS_ADDRESS socket
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro # system dbus socket
      - ${XDG_RUNTIME_DIR:-/run/user/${UID:-1000}}/systemd:${XDG_RUNTIME_DIR:-/run/user/${UID:-1000}}/systemd:ro # user systemd folder if utmp unavailable
      - /run/utmp:/run/utmp:ro # user systemd socket if utmp available
      - ${XDG_RUNTIME_DIR:-/run/user/${UID:-1000}}/pulse:${XDG_RUNTIME_DIR:-/run/user/${UID:-1000}}/pulse:ro # pulse socket
      - ./cookie:${HOME:-/home/odio}/.config/pulse/cookie:ro # pulse cookie
      - ./config.yaml:/etc/odio-api/config.yml:ro # odio config
    restart: unless-stopped
