services:
  odio:
    image: ghcr.io/b0bbywan/go-odio-api:latest
    container_name: odio
    ports:
      - "8018:8018"
    user: "${UID:-1000}:${UID:-1000}"
    environment:
      XDG_RUNTIME_DIR: ${XDG_RUNTIME_DIR}
      DBUS_SESSION_BUS_ADDRESS: ${DBUS_SESSION_BUS_ADDRESS}
      HOME: ${HOME}
    volumes:
      - ./config.yaml:/etc/odio-api/config.yml:ro # odio config
      - ${HOME}/.config/pulse/cookie:${HOME}/.config/pulse/cookie:ro # pulse cookie
      - ${XDG_RUNTIME_DIR}/bus:${XDG_RUNTIME_DIR}/bus:ro # DBUS_SESSION_BUS_ADDRESS socket
      - ${XDG_RUNTIME_DIR}/systemd:${XDG_RUNTIME_DIR}/systemd:ro # user systemd folder if utmp unavailable
      - ${XDG_RUNTIME_DIR}/pulse:${XDG_RUNTIME_DIR}/pulse:ro # pulse socket
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro # system dbus socket
      - /run/utmp:/run/utmp:ro # user systemd socket if utmp available
    restart: unless-stopped
