{{ define "pulseaudio-sink" }}
<div class="client-card">
	<!-- Client info -->
	<div class="content-area">
		<div class="player-name text-sm mb-2">
			{{ if .Application }}{{ .Application }}{{ else }}Unknown{{ end }}
		</div>

		<!-- Volume control -->
		{{ template "volume-slider" (dict "Target" .Index "Type" "audio-client" "Volume" .Volume "Muted" .Muted "ShowMute" true) }}
	</div>
</div>
{{ end }}
