[Unit]
Description=Odio Remote Api
Documentation=https://github.com/b0bbywan/go-odio-api
After=default.target

[Service]
ExecStart=/usr/bin/odio-api
Restart=always
RestartSec=12
TimeoutSec=30

[Install]
WantedBy=default.target
