[Unit]
Description=Odio Dashboard UI
After=plasma-workspace-wayland.target
PartOf=graphical-session.target
StartLimitBurst=15
StartLimitIntervalSec=30

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/%U
ExecStart=/usr/bin/firefox -P odio --no-remote --new-window --kiosk http://localhost:8018/ui
ExecStop=/bin/kill $MAINPID
Restart=on-failure
RestartSec=2
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=graphical-session.target
